body {
  margin: 0;
  padding: 0;
}

* {
  font-family: sans-serif;
}

.container {
  background-color: #d5e1ef;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper {
  background-color: #fff;
  width: 34%;
  height: 33rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border-radius: 15px;
  align-items: flex-start;
  padding: 15px 0 0 15px;
}

img {
  width: 319px;
  height: 319px;
  border-radius: 15px;
  /*margin: 10px 0 0 10px;*/
}

h2 {
  color: hsl(218, 44%, 22%);
  text-align: center;
  font-weight: 700;
  font-size: 25px;
  margin-left: 17px;
}

p {
  color: hsl(220, 15%, 55%);
  text-align: center;
  font-weight: 400;
  font-size: 16.5px;
  margin-left: 20px;
  letter-spacing: 0.5px;
  margin-top: -3px;
}

@media (max-width: 600px) {
  .wrapper {
    width: 80%;
    height: 63vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border-radius: 20px;
    align-items: flex-start;
    padding: auto;
  }

  h2 {
    color: hsl(218, 44%, 22%);
    text-align: center;
    font-weight: 700;
    font-size: 20px;
    margin-left: 10px;
    word-spacing: 3px;
    letter-spacing: 3;
  }

  p {
    color: hsl(220, 15%, 55%);
    text-align: center;
    font-weight: 400;
    font-size: 15px;
    margin-left: -2px;
  }

  img {
    width: 272px;
    height: 272px;
    border-radius: 15px;
  }

}

@media (min-width: 1240px) {
  .wrapper {
  background-color: #fff;
  width: 26%;
  height: 33rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border-radius: 15px;
  align-items: flex-start;
  padding: 15px 0 0 15px;
}

img {
  width: 319px;
  height: 319px;
  border-radius: 15px;
  /*margin: 10px 0 0 10px;*/
}

h2 {
  color: hsl(218, 44%, 22%);
  text-align: center;
  font-weight: 700;
  font-size: 10px;
  margin-left: 17px;
}

p {
  color: hsl(220, 15%, 55%);
  text-align: center;
  font-weight: 400;
  font-size: 16.5px;
  margin-left: 12px;
  letter-spacing: 0.5px;
  margin-top: -3px;
}
}
